<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" 
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf.org"
				layout:decorator="LayoutPadraoAdmin">

<head>
    <title>Cadastro de Banners</title>
</head>

<section layout:fragment="conteudo">
	<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cadastro de Banners para Tela Principal</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
				<form method="POST" th:action="@{/banner}" th:object="${banner}" >
					<div class="col-xs-6">
					<input type="hidden" th:field="*{codigo}" />
						<div class="form-group">
							<label for="banner_label">Banner 1 - Descrição</label> 
							<input type="text" class="form-control" name="descricaoUm" th:field = "*{descricaoUm}"/>
						</div>
						<div class="form-group">
							<label for="banner_label">Banner 2 - Descrição</label> 
							<input type="text" class="form-control" name="descricaoDois" th:field = "*{descricaoDois}" />
						</div>
						<div class="form-group">
							<label for="banner_label">Banner 3 - Descrição</label> 
							<input type="text" class="form-control" name="descricaoTres" th:field = "*{descricaoTres}"/>
						</div>
						<div class="form-group">
							<label for="banner_label">Banner 4 - Descrição</label> 
							<input type="text" class="form-control" name="descricaoQuatro" th:field = "*{descricaoQuatro}"/>
						</div>
						<div class="form-group">
							<label for="banner_label">Banner 5 - Descrição</label> 
							<input type="text" class="form-control" name="descricaoCinco" th:field = "*{descricaoCinco}"/>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label for="file_banner">Banner 1 - Imagem</label> 
							<input type="file" id="file_banner" name="bannerUm" th:field = "*{bannerUm}"/>
							<p class="help-block">Escolha uma imagem</p>
						</div>
						<div class="form-group">
							<label for="file_banner">Banner 2 - Imagem</label> 
							<input type="file" id="file_banner" name="bannerDois" th:field = "*{bannerDois}"/>
							<p class="help-block">Escolha uma imagem</p>
						</div>
						<div class="form-group">
							<label for="file_banner">Banner 3 - Imagem</label> 
							<input type="file" id="file_banner" name="bannerTres" th:field = "*{bannerTres}"/>
							<p class="help-block">Escolha uma imagem</p>
						</div>
						<div class="form-group">
							<label for="file_banner">Banner 4 - Imagem</label> 
							<input type="file" id="file_banner" name="bannerQuatro" th:field = "*{bannerQuatro}"/>
							<p class="help-block">Escolha uma imagem</p>
						</div>
						<div class="form-group">
							<label for="file_banner">Banner 5 - Imagem</label> 
							<input type="file" id="file_banner" name="bannerCinco" th:field = "*{bannerCinco}"/>
							<p class="help-block">Escolha uma imagem</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 buttons-banner">
							<button type="submit" class="btn btn-primary">Salvar</button>
							<button type="button" class="btn btn-danger">Cancelar</button>
						</div>
					</div>

				</form>
			</div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
</section>
</html>
