<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf.org"
				layout:decorator="LayoutPadraoAdmin">

<head>
	<title>Ecommerce Configuracao Usuario</title>
</head>

<section layout:fragment="conteudo">
	<div id="page-wrapper">
		<!-- /.row -->
	
		<div class="row">
			<div class="col-lg-12">
				<a class="btn btn-link aw-link-panel" th:href="@{/configuracao}">Voltar
					para pesquisa</a>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">Cadastros</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<form method="POST" th:action="@{/configuracao}" th:object="${cadastroAdmin}">
						<input type="hidden" th:field="*{codigo}" />
	<!-- 							<input type="hidden" id="_csrf" th:value="${_csrf.token}"/>  -->
						<div class="alert alert-success"
							th:if="${!#strings.isEmpty(mensagem)}">
							<button type="button" class="close" data-dismiss="alert"></button>
							<span th:text="${mensagem}">Cadastro Salvo com sucesso.</span>
						</div>
						<div class="alert alert-danger col-xs-9"
							th:if="${!#strings.isEmpty(mensagemError)}">
							<button type="button" class="close" data-dismiss="alert"></button>
							<span th:text="${mensagemError}">Cadastro Salvo com sucesso.</span>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<div class="col-xs-9">
									<label for="usuario_label">Nome de Usuário</label> <input
										type="text" class="form-control" id="usuario"
										th:field="*{usuario}" name="usuario" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-9">
									<label for="email">Email</label> <input type="email"
										class="form-control" id="email" th:field="*{email}"
										name="email" />
								</div>
							</div>
							<div class="col-xs-9">
								<div class="form-group">
									<label for="senha_label">Senha</label> <input type="password"
										class="form-control" id="senha" th:field="*{senha}"
										name="senha" />
								</div>
	
								<div class=" form-group">
									<label for="confirma_label">Confimar Senha</label> <input
										type="password" class="form-control" id="confirma"
										name="confirmacao" />
								</div>
								
							</div>
	
							<div class="row">
							
								<div class="col-xs-12 buttons-confi">
									<button type="submit" class="btn btn-warning">Salvar</button>
	
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</html>
