<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf.org"
				layout:decorator="LayoutPadraoAdmin">

<head>
    <title>Ecommerce Email Promocional</title>
</head>

<section layout:fragment="conteudo">
	<div id="page-wrapper">
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">Cadastro de Email Promocional</h1>
	        </div>
	        <!-- /.col-lg-12 -->
	   </div>
	   <!-- /.row -->
	        <div class="row" >
	<form method="POST" th:action="@{/emailPromocional}" th:object="${emailPromocional}">
		<input type="hidden" th:field="*{codigo}"/>
		<div class="col-xs-6" >
			<div class="form-group" >
				<label for="titulo_label">Titulo do email</label> <input
					type="text" class="form-control" id="titulo" name="titulo" th:field="*{titulo}"/>
			</div>
			<div class="form-group">
				<label for="assunto_label">Assunto</label>
				<textarea class="form-control" rows="10" name="assunto" th:field="*{assunto}"></textarea>
			</div>
		</div>
	<!-- imagem para email -->
		<div class="col-xs-6">
			<div class="form-group">
				<label for="file_banner">Imagem para Email</label> 
				<input id="inputFile" type="file" onchange="pegaArquivo(this.files)" name="imagem" />
				<div id="imgLocal"></div>
				<p class="help-block">Escolha uma imagem</p>
			</div>
			<div class="form-group">
			    <img alt="Imagem para email" id="img" th:src="@{/imagens/} + *{imagem}"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 buttons-banner">
				<button type="submit" class="btn btn-success">Salvar</button>
				<button type="submit" value="reevia" class="btn btn-primary">Reenviar</button>
			</div>
		</div>
	</form>
	</div>
	     </div>
	     <!-- /#page-wrapper -->
</section>
</html>
