<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Bello Joy</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/static/startbootstrapages/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/static/startbootstrapages/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/static/startbootstrapages/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!--css cadastro produto-->
    <link th:href="@{/static/startbootstrapages/dist/css/banners.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/static/startbootstrapages/vendor/morrisjs/morris.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/static/startbootstrapages/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Bello Joy Admin</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
              
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href=""><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{login.html}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    
                        <li>
                            <a th:href="@{/indexAdmin}"><i class="fa fa-shopping-cart"></i> Cadastro de Produtos</a>
                        </li>
                        <li>
                            <a th:href="@{/listaProdutos.html}"><i class="fa fa-list"></i> Lista de Produtos</a>
                        </li>
                        <li>
                            <a th:href="@{/clienteAdmin.html}"><i class="fa fa-table fa-fw"></i> Clientes</a>
                        </li>
                        <li>
                            <a th:href="@{/banner}"><i class="fa fa-picture-o"></i> Banners</a>
                        </li>
                        <li><a th:href="@{/categoria}"><i class="fa fa-calendar-check-o"></i> Categoria</a></li>
                        <li>
                            <a th:href="@{/emailPromocional/1}"><i class="fa fa-envelope-o"></i> Email Promocional</a>
                        </li>
                        <li>
                            <a th:href="@{/contato/1}"><i class="fa fa-envelope-o"></i> Contatos</a>
                        </li>
                        <li>
                            <a th:href="@{/uploadForm}"><i class="fa fa-picture-o"></i> Imagem</a>
                        </li>
                        <li>
                            <a th:href="@{/configuracao}"><i class="fa fa-edit fa-fw"></i> Configurações</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cadastro de Email Promocional</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row" >
				<form method="POST" th:action="@{/emailPromocional}" th:object="${emailPromocional}">
<!-- 					<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}"> -->
<!-- 					 <button type="button" class="close" data-dismiss="alert"></button> -->
<!-- 						<span th:text="${mensagem}"> Save sucess</span> -->
<!-- 					</div> -->
<!-- 					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}"> -->
<!-- 						<div th:each="detailedErrors :${#fields.detailedErrors()}"> -->
<!-- 						<button type="button" class="close" data-dismiss="alert"></button> -->
<!-- 							<span th:text="${detailedErrors.mensagem}"> Error in Save</span> -->
<!-- 						</div> -->
<!-- 					</div> -->
					<input type="hidden" th:field="*{codigo}"/>
					<div class="col-xs-6" >
						<div class="form-group" >
							<label for="titulo_label">Titulo do email</label> <input
								type="text" class="form-control" id="titulo" name="titulo" th:field="*{titulo}"/>
						</div>
						<div class="form-group">
							<label for="assunto_label">Assunto</label>
							<textarea class="form-control" rows="10" name="assunto" th:field="*{assunto}"></textarea>
						</div>
					</div>
<!--                     imagem para email -->
					<div class="col-xs-6">
						<div class="form-group">
							<label for="file_banner">Imagem para Email</label> 
							<input id="inputFile" type="file" onchange="pegaArquivo(this.files)" name="imagem" />
							<div id="imgLocal"></div>
							<p class="help-block">Escolha uma imagem</p>
						</div>
						<div class="form-group">
						    <img alt="Imagem para email" id="img" th:src="@{/imagens/} + *{imagem}"/>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 buttons-banner">
							<button type="submit" class="btn btn-success">Salvar</button>
							<button type="submit" value="reevia" class="btn btn-primary">Reenviar</button>
						</div>
					</div>
				</form>
			</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script type="text/javascript">
    function pegaArquivo(files){
        var imgLoca = document.getElementById('imgLocal')
        var file = files[0];
        var img = document.createElement("img");
            img.file = file;
     
            imgLocal.appendChild(img)
     
        var reader = new FileReader();
            reader.onload = (function(aImg) {return function(e) {aImg.src = e.target.result;};})(img);
            reader.readAsDataURL(file);
    }
	</script>
	
		<!-- script>
		var img = document.getElementById("img")
		img.src = "http://www.google.com/images/logo_sm.gif";
		</script> -->
</body>

</html>
