<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<title>Bem Vindo!</title>
	
	<link rel="stylesheet" th:href="@{/static/css/produto_detalhe.css}" />
	<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/static/css/shop-homepage.css}" />
	<link rel="stylesheet" th:href="@{/static/css/home.css}" />
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Acme|Nunito:400,900i|Pacifico}" />
	
</head>
<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container pesquisa_container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-xs-12">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="menu-pesquisa">
                  <div class="col-xs-4"><a class="navbar-brand" th:href="@{/index}">Ecommerce</a></div>
                    <div class="col-xs-5">
						<form th:action="@{/pesquisa}" method="GET" class="form-horizontal">
							<div class="form-group">
								<input type="text" class="form-control" id="procurar"
									placeholder="Procurar" name="nome" title="Faça sua pesquisa pelo site" />
							</div>
								<button class="botao_pesquisa" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
						</form>
					</div>  
                    <div class="col-2 menu_login">
                        <div class="dropdown">
                              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h5>Olá Visitante<span class="caret"></span></h5>
                                
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dLabel" >
								<li><a th:href="@{/login}" style="font-size: 15px;">Login</a></li>
								<li>
									<form th:action="@{/sair}" method="POST">
										<!-- 							    <input type="hidden" id="_csrf" th:value="${_csrf.token}"/> -->
										<button type="submit" class="btn save-buttom">Sair</button>
									</form>
								</li>
							</ul>
                      </div>
                    </div>
                </div>  
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="container">
                    <ul class="nav navbar-nav col-xs-12">
                        <li th:each="categoria:${todasCategoria}" th:value ="${categoria.nomeCategoria}">
                            <a th:href="@{/produto_categoria/{codigo}(codigo=${categoria.codigo})}"  th:text="${categoria.nomeCategoria}"></a>
                        </li>
                         <li>
                            <a href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-comments" aria-hidden="true"></i>Fale Conosco</a>
                        </li>
                        <li >
                          <span name="carrinho" > <a th:href="@{/carrinho}"> CARRINHO
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                        </li>
                    </ul>
                </div>    
            </div>
    </nav>
    
    <section layout:fragment="conteudo">
    	<p>Conteudo Principal</p>
    </section>
    
    <div class="col-xs-12 mensagem_oferta">
		<div class="container">
			<form method="POST" th:action="@{/index}" style="color: #fff;">
				
					<div class="form-group">
						<label class="ofertas-rodape" for="ofertas">OFERTAS E DESCONTOS</label>
						<p class="ofertas-rodape">Inscreva-se para receber ofertas e descontos exclusivos</p>
						<input type="text" class="form-control" id="oferta" placeholder="Digite seu email" name="email" />
					</div>
					<div class="form-group form-buttom-email">
						<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
			</form>
		</div>
	</div>
    <div class="container">
        <hr></hr>
        <!-- Footer -->
        <footer th:each="categoria:${todosContatos}" th:value ="${categoria}">
            <div class="row">
				<div class="col-xs-12">
					<div class="col-xs-12 contats">
						<div class="row">
							<ul class="col-xs-12">
								<li class="col-xs-2"><i class="fa fa-facebook" ></i><a th:href="@{https://www.facebook.com/bello.joy.35325?fref=ts}" th:text="${categoria.facebook}"></a></li>
								<li class="col-xs-2"><i class="fa fa-instagram" ></i><a href="#" th:text="${categoria.instagram}"></a></li>
								<li class="col-xs-2"><i class="fa fa-whatsapp" ></i><span th:text="${categoria.whatsApp}"></span></li>
								<li class="col-xs-2"><i class="fa fa-phone" ></i><span th:text="${categoria.telefoneOne}"></span></li>
								<li class="col-xs-2"><i class="fa fa-phone" ></i><span th:text="${categoria.telefoneTwo}"></span></li>
								<li class="col-xs-2"><i class="fa fa-phone"></i><span  th:text="${categoria.telefoneThree}"></span></li>
							</ul>
						</div>
					</div>
				</div>
            </div>
        </footer>
        <div class="col-lg-6 copy">
            <div class="row">
                <p>Copyright &copy; Ecommerce  2017</p>
            </div>
        </div>
	</div>
    <!-- /.container -->
	<!-- Modal -->
	<div class="col-xs-12 mensagem_oferta">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Fale Conosco</h4>
					</div>
					<div class="modal-body">
						<div class="container ">
							<div class="container borda col-md-10 col-sm-10 col-lg-10">
								<div class="form-group ">
									<label for="labelNome">Nome</label> <input type="text"
										class="form-control" id="nome" placeholder="Nome"
										name="nome" />
								</div>
								<div class="form-group ">
									<label for="labelNome">Email</label> <input type="text"
										class="form-control" id="email" placeholder="Email"
										name="email" />
								</div>
								<div class="form-group ">
									<label for="labelNome">Telefone</label> <input type="text"
										class="form-control" id="telefone" placeholder="Telefone"
										name="telefone" />
								</div>
								<div class="form-group ">
									<label for="labelTipo">Assunto</label> <select name="assunto"
										class="form-control selectpicker">
										<option value="duvidas">Duvidas</option>
										<option value="sugestoes">Sugestões</option>
										<option value="criticas">Criticas</option>
										<option value="elogios">Elogios</option>
	
									</select>
								</div>
								<div class="form-group">
									<label for="labelMensagem">Mensagem</label>
									<textarea class="form-control" rows="6" id="mensagem"
										name="mensagem"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim modal -->

    <!-- jQuery -->
    <script th:src="@{/static/js/jquery.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
   	<script type="text/javascript">
    
    function buscar(){
       
       var nome = document.getElementById("quantidadePedido").value;

    jQuery.ajax({
        type:  'POST',
        url:   'produto_detalhe',
        dataType: 'json',
        data: {
            valor : nome
        },
//         success: function(data){
//            alert(data.response);
//         }
    });       
}
    
    </script>
    
    <script>
   	  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
   </script>	
	
<script>
		$(document).ready(function(){
			$('#ex1').zoom();
			$('#ex2').zoom({ on:'grab' });
			$('#ex3').zoom({ on:'click' });			 
			$('#ex4').zoom({ on:'toggle' });
		});
	</script>
</body>
</html>